/gcab-0.3.tar.xz
/gcab-0.4.tar.xz
gcab-0.4/*
*DS_Store*
*deps/*.*o
*/*deps/*.*o
*/*deps/.*
*libs/*
*/*libs/*
*/*/*libs/*
*.o
*.lo
*~
*.cache
*.log
*.status
config.h
gcab
*.la
*.dylib
Makefile
Makefile*orig
libtool
*.insert-header
remove-potcdate.sed
stamp-*
core
core.*
gcab.*po
*.new.po
*.gir
*.typelib
docs/reference/*.sgml
docs/reference/*.stamp
docs/reference/xml/*
docs/reference/html/*
docs/reference/gcab-*.txt
docs/reference/gcab.*
atconfig
atlocal
gcab.1
libgcab-1.0.pc
libgcab-1.0.vapi
*.dirstamp
po/Makefile.in
po/POTFILES
po/*.gmo
tests/package.m4.tmp
