/gcab-0.3.tar.xz
/gcab-0.4.tar.xz
*DS_Store*
*deps/*.*o
*/*deps/*.*o
*libs/*
*.o
*.lo
*~
*.cache
*.log
*.status
config.h
gcab
*.la
*.dylib
Makefile
libtool
*.insert-header
remove-potcdate.sed
stamp-*
core
core.*
gcab.*po
*.new.po
