/gcab-0.3.tar.xz
/gcab-0.4.tar.xz
gcab-0.4/*
*DS_Store*
*deps/*.*o
*/*deps/*.*o
*/*deps/.*
*libs/*
*/*libs/*
*/*/*libs/*
*.o
*.lo
*~
*.cache
*.log
*.status
config.h
gcab
*.la
*.dylib
Makefile
Makefile*orig
libtool
*.insert-header
remove-potcdate.sed
stamp-*
core
core.*
gcab.*po
*.new.po
*.gir
*.typelib
docs/reference/*.stamp
docs/reference/xml/*
docs/reference/html/*-insensitive.png
docs/reference/html/*.sgml
docs/reference/gcab-*.txt
docs/reference/gcab.*
